## ./Schedule_Manage_Web

#node 모듈 제외
Schedule_Manage_Web/node_folder/node_modules
#package-lock 제외
Schedule_Manage_Web/node_folder/package-lock.json
#jwt 비밀키 제외
Schedule_Manage_Web/node_folder/secret.js
#사이트 주소 제외
Schedule_Manage_Web/service_complete/js/common_url.js
#package 제외 - 자꾸 주의안내가 뜸
Schedule_Manage_Web/node_folder/package.json

## ./ScheduleOfSuccess

#node 모듈 제외
ScheduleOfSuccess/back/node_modules
#package-lock 제외
ScheduleOfSuccess/back/package-lock.json
#jwt 비밀키 제외
ScheduleOfSuccess/back/secret.js
#사이트 주소 제외
ScheduleOfSuccess/front/js/common_url.js
