:root {
    --light-gray: #f4f4f4;
    --main-blue: #4aa8d8;
    --dark-gray: #606060;
}
/* 기본 설정 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:12px;
}

a{
    text-decoration: none;
    color: black;
}

header {
    background-color: var(--light-gray);
}

.header-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 5rem;
    margin: 0 1rem;

}

.title a{
    font-size: 2rem;
    color: var(--main-blue);
    font-weight: 900;
}

.sign-container{
    display: flex;
}

.sign-container a{
    font-size: 1.6rem;
}

.unsigned{
    display: flex;
}

.sign-in{
    margin-right: 1rem;
}

.inner{
    margin: 0 auto; /*auto로 하면 적당히 나눠가짐*/
}

/*inner의 max 너비를 고정시켜서, 1200px가 넘어도 중앙 배치되도록*/
@media only all and (min-width: 1200px){
    .inner{
        max-width: 1200px;
    }
}

.hidden{
    display: none;
}

/*회원용 헤더*/

.dropdown {
    position: relative;
}

.dropdown-button{
    font-size: 1.4rem;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
}

.dropdown-content button{
    font-size: 1.2rem;
    width: 100%;
    line-height: 2;
    background-color: var(--light-gray);
    border: 1px solid var(--dark-gray);
    cursor: pointer;
}

.dropdown-content button:hover{
    color:white;
    background-color: var(--dark-gray);
}


.dropdown:hover .dropdown-content{
    display: block;
}

/*화면너비가 400이하일때 폰트 크기를 줄임(형태가 너무 깨지지 않도록)*/
@media only all and (max-width:400px){
    html{
        font-size: 8px;
    }
}